ion-row.display{
    height:75%;
}

ion-row.options{
    height:16%;
    padding: 5;
}

ion-card.display{
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
  }

  ion-card.doc {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    border-width: 1px;
    background-color: #005EB8;
    background-image: linear-gradient(315deg, #005EB8 0%, #337EC6 74%);
  }

  ion-icon.header{
      font-size: 45px;
    }

  /* card for login page */
  ion-card.login{
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  ion-text.padding{
    padding-left: 100rem;
  }

  h1.options{
    font-size: 25px;
  }

  /*  Register header (css not being recognised in longin.css)  */
  ion-list-header.reg{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

