ion-content ion-toolbar {
  --background: translucent;
}

ion-grid {
  height: 90%;
}

ion-row {
  height: 50%;
}

ion-title.doc {
  font-size: x-large;
}

ion-content.home-background {
  background: url(../../assets/images/background.png) ;
  background-size: cover;
}
